<footer  style="overflow:hidden"class="page-footer custom-color ">
    <div class="container ">
      <div class="row">
        <div class="col l12 s12 center" >
            <a href="#" ><i class="fa fa-facebook fa-2x white-text "></i></a>
            <a href="#"><i class=" fa fa-twitter fa-2x  white-text"></i></a>
            <a href="#"><i class=" fa fa-instagram fa-2x white-text "></i></a>
            <a href="#" ><i class=" fa fa-phone fa-2x white-text "></i></a>
         
        </div>
        <div class="row">
          <h6 class="white-text text-lighten-1 center"> We will  provide best service to our clients and customers</h6>
        
        </div>
      </div>
    </div>
   
  </footer>
