<div class="main-container">
 
    <div class="content">
              <div class="text-content">
                <h3 class="center" >Login</h3>
                 <figure>
                <img src="assets/images/login.svg"  alt="image">
              </figure>
                </div>
            
              <div class="form" >
                <button>+ 5,000 <span>Clients Each Year !</span></button>
               
                <form   autocomplete="off">
                    
                      <input type="email" placeholder="Email Address" required >
                      <input type="password" placeholder="Password" required  >
                    <button type="submit" class="second">Login</button>
                  
                </form>
              </div>
    </div>

 </div>