<section classs=" parallax-container" id="about">
    <div class="row ">
      <h3  class="center">About Us</h3>
      <div class="col s12 m6 l4" data-aos="zoom-in"  data-aos-offset="120"><img  class="responsive-img " src="assets/images/img1.jpg"  width="500px"height="200px" ></div>
      <div class="col s12 m6 l4 center alg">
          <h4>Best Quality </h4>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
              </p>
            <a style="font-size: 1rem;margin:10px 0px"href="#contact" class="waves-effect waves-light btn custom-color"><i class="material-icons right">add_circle</i>Order Now</a>
      </div>
      <div class="col s12 m6 l4"  data-aos="zoom-in"  data-aos-offset="120"><img  class="responsive-img"src="assets/images/img2.jpg"  width="500px"  height="200px" ></div>
     
                     </div>
  </section>
  <section>
      <div class="row container">
        <h3  class="center"> Free Services</h3>
        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">local_cafe</i>Espresso</div>
              <div class="collapsible-body"><span>
                <p>Americano</p>
                <p> Mint Chocolate</p>
                <p>Mocha</p>
                <p>Latte</p>
              </span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">favorite</i>Ice Blended</div>
              <div class="collapsible-body"><span>
                <p>Caramel</p>
                <p>Cofee Jelly</p>
                <p>Matcha Cream</p>
              </span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Tea</div>
              <div class="collapsible-body"><span>
              <p>Earl Grey</p>
              <p>Green Tea</p>
              <p>Jasmine Tea</p>
              </span></div>
            </li>
          </ul>
                
        </div>
</section>               
    
