<section id="gallery" class="gal" style="overflow-x: hidden;">
    <div class="row ">
      <h3  class="center">Gallery</h3>

      <div class="col s12 m6 l4"  data-aos="fade-right"  data-aos-offset="200">
        <aside>
      <a href="assest/images/img4.jpg"   title="Image1"><img  src="assets/images/img4.jpg" class="responsive-img"></a> 
      <div class="overlay-3"> <h4>
          <i class="fa fa-search" aria-hidden="true"></i>
        </h4></div>
      </aside>
      <a href="assest/images/img10.jpg"  title="Image2" > <img  src="assets/images/img10.jpg" class="responsive-img"  ></a>

    </div>
      <div class="col s12 m6 l4"  data-aos="fade-left">
        <a href="assest/images/img6.jpg" title="Image3" > <img  src="assets/images/img6.jpg"    class="responsive-img"  ></a>
        

        <a href="assest/images/img7.jpg" title="Image4" >  <img  src="assets/images/img7.jpg"   class="responsive-img"   ></a>
        </div>
        <div class="col s12 m6 l4"  data-aos="fade-right">
          <a href="assest/images/img11.jpg"  title="Image5"><img  src="assets/images/img11.jpg"  class="responsive-img"   ></a>
          
          <a href="assest/images/img9.jpg" title="Image6" ><img  src="assets/images/img9.jpg"  class="responsive-img"   ></a>
          </div>
     
     
      </div>
                     
                    </section>
