<section  id="services">
    <div class="row ">
      <h3  class="center" style="padding: 20px;">Events</h3>
      <div class="col s12 m6 l4">
        <div class="card" data-aos="flip-right">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/img3.jpg"class="responsive-img">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cakes<i class="material-icons right">more_vert</i></span>
            <p><a href="#contact">Order Now</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Cakes<i class="material-icons right">close</i></span>
            <p>We provide best Cakes </p>
          </div>
                               </div>
                                </div>
      <div class="col s12 m6 l4">
          <div class="card"data-aos="flip-left">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/images/img5.jpg" class="responsive-img">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">CupCakes<i class="material-icons right">more_vert</i></span>
                <p><a href="#contact">Order Now</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">CupCakes<i class="material-icons right">close</i></span>
                <p> We provide best CupCakes</p>
              </div>
                                               </div>
                                                     </div>
        <div class="col s12 m6 l4">
            <div class="card" data-aos="flip-right">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/images/img8.jpg" class="responsive-img"  >
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"> Pastries<i class="material-icons right">more_vert</i></span>
                  <p><a href="#contact">Order Now</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Pastries<i class="material-icons right">close</i></span>
                  <p> We provide best  Pastries</p>
                </div>
              </div>
                           </div>
     
     
                  </div>
  