
<div class="main-container">
 
    <div class="content">
              <div class="text-content">
                <h3 class="center" >Sign Up</h3>
                 <figure>
                <img src="assets/images/signup.svg"  alt="image">
              </figure>
                </div>
            
              <div class="form" >
                <button>+ 5,000 <span>Clients Each Year !</span></button>
               
                <form   autocomplete="off">
                      <input type="text" placeholder="Full Name" required  >
                      <input type="email" placeholder="Email Address" required >
                      <input type="password" placeholder="Password" required  >
                       
                    <button type="submit" class="second">Sign Up</button>
                    <h6>By clicking you agree to our  <span>Terms and Services </span></h6>
                </form>
              </div>
    </div>

 </div>