<section>
<!-- slider start -->
<div class="carousel " id="silders"  data-aos="fade-up">
    <a class="carousel-item " href="#"><img class="responsive-img" src="assets/images/ck1.jpg" ></a>
    <a class="carousel-item " href="#"><img class="responsive-img" src="assets/images/ck2.jpg" ></a>
    <a class="carousel-item " href="#"><img class="responsive-img" src="assets/images/cp1.jpg" ></a>
    <a class="carousel-item " href="#"><img class="responsive-img" src="assets/images/cp2.jpg" ></a>
    <a class="carousel-item" href="#"><img class="responsive-img"  src="assets/images/ps1.jpg"></a>
    <a class="carousel-item" href="#"><img  class="responsive-img" src="assets/images/ps2.jpg" ></a>
  </div>
<!-- slider end -->
</section>
