<section id="contact">
    <div class="row ">
      <div class="col s12 m6 l8 offset-l2  ">
<form class="col s12 black-text text-darken-2" method="POST" netlify>
<div class="row">
<div class="input-field col s12 ">
<input placeholder="Name" id="first_name" type="text" class="validate" name="name">
               </div>
<div class="input-field col s12">
<input id="email"  placeholder="Email"type="email" class="validate" name="email">
        </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1"  placeholder="Textarea"class="materialize-textarea" name="comment"></textarea>
         </div>
                          </div>
    <button type="submit" class="waves-effect waves-light btn large custom-color" >Send Message</button>

</div>
</form>
</div>           
</div>    
                    </section>
